<div class="jumbotron">
    <h1>歡迎來到 LuLuBlog</h1>
    <p>LuLuBlog 是一個基於 Node.js 的微博系統。</p>
    <p>
      <a class="btn btn-primary" href="/login">登錄</a>
      <a class="btn btn-default" href="/reg">立即註冊</a>
    </p>
</div>
<div class="row">
	<div class="col-md-4">
		<h2>標題1</h2>
		<p>內容1</p>
	</div>
	<div class="col-md-4">
		<h2>標題2</h2>
		<p>內容2</p>
	</div>
	<div class="col-md-4">
		<h2>標題3</h2>
		<p>內容3</p>
	</div>
</div>


